
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ML - American English Pronunication Learning (ML-EPL)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Machine Learning based English Pronunication Learning Website" />
	<meta name="keywords" content="american english, automatic, lexical, pitch, accent, pronunicatoin, english pronunication, english learning, english syllable correction, lexical stress, accent detection" />
	<meta name="author" content="SpeakGoodEnglish (SGE)" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>

	function send_text() {
	var nowObj = new Date();
		var nowString = nowObj.toLocaleTimeString('en-US');
		var text= $('#input_text').val();
	  	$.ajax({
				  url: "/sendtext",
				  type: "POST",
				  data: {text:text}
			  }).done(function(response) {
				var htmlquestion= "";
				var htmlresponse= "";
				response =response.result;
					 $.each(response,function(key,val){
						console.log(key);
					 	console.log(val);
					 	if (key == '1')
							htmlquestion += val;
					 	else htmlresponse += val;
					});
					htmlquestion ="<div align='right'>"+htmlquestion+"</div><br />";
					htmlresponse ="<div align='left' font='blue'>"+htmlresponse+"</div><br />";
					html = "<div align='center'>" + nowString +"</div><br />" + htmlquestion+htmlresponse;
					console.log(html)
					$(".content").append(html);
				});
	};

	function send_audio() {
		var nowObj = new Date();
		var nowString = nowObj.toLocaleTimeString('en-US');
	  	$.ajax({
				  url: "/sendaudio",
				  type: "GET"
			  }).done(function(response) {
				var htmlquestion= "";
				var htmlresponse= "";
				response =response.result;
					 $.each(response,function(key,val){
						console.log(key);
					 	console.log(val);
					 	if (key == '1')
							htmlquestion += val;
					 	else htmlresponse += val;
					});
					htmlquestion ="<div align='right'>"+htmlquestion+"</div><br />";
					htmlresponse ="<div align='left' font='blue'>"+htmlresponse+"</div><br />";
					html = "<div align='center'>" + nowString +"</div><br />" + htmlquestion+htmlresponse;
					console.log(html)
					$(".content").append(html);
				});
	};

  	</script>

	</head>
	<body>
	<div align="center"><b><p>Improve My English Pronunication</p></b></div>
	<div class="table" >
		<div class="row">
			<div class="content"></div>
		</div>
		<!-- <div class="row">
			<div class="response" align="left"></div>
		</div> -->
		<div class="row">
			<div><button id="sent_tokenize_clicked" onclick="send_audio()">Audio</button><br></div>
			<div><input type="text" id="input_text"></div>
			<div><button id="inputtext_clicked" onclick="send_text()">Text</button><br></div>
		</div>
	</div>
	

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>

	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>

	
	<!-- MAIN JS -->
	<script src="js/main.js"></script>

	</body>
</html>

